$x-small: 575.98px;
$small: 767.98px;
$medium: 991.98px;
$large: 1199.98px;
$x-large: 1399.98px;
$big: 1592.98px;
$x-big: 1829.98px;

.hackathon {
    &__header {
        max-width: 1280px;
        padding: 60px 80px 76px 80px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: $medium){
            padding: 30px 50px;
        }
        @media screen and (max-width: $x-small){
            padding: 20px 30px;
        }
        &_btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            cursor: pointer;
        }
        &_content {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media screen and (max-width: $small){
               grid-template-columns: 1fr;
                gap: 20px;
            }
        }
        &_img {
            padding-right: 100px;
            @media screen and (max-width: $medium){
                padding-right: 20px;
            }
            @media screen and (max-width: $small){
                padding-right: unset;
            }
            img {
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
                @media screen and (max-width: $small){
                    max-height: 300px;
                }
            }
        }
    }
    &__title {
        color: #121212;
        font-size: 34px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Cera Black';
        @media screen and (max-width: $medium){
            font-size: 25px;
        }
        @media screen and (max-width: $x-small){
            font-size: 20px;
        }
    }
    &__btn {
        width: fit-content;
        margin-top: 10px;
        max-width: unset;
    }
    &__menu {
        background-color: #E80024;
        &_container {
            max-width: 1280px;
            padding: 0 80px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width: $medium){
                padding: 0 50px;
            }
            @media screen and (max-width: $x-small){
                padding: 0 30px;
            }
            @media screen and (max-width: $small){
                display: none;
            }
            &-phone {
                display: none;
                justify-content: flex-end;
                max-width: 1280px;
                padding: 10px 50px;
                margin: 0 auto;
                @media screen and (max-width: $x-small){
                    padding: 10px 30px;
                }
                @media screen and (max-width: $small){
                    display: flex;
                }
                &-svg {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    path {
                        fill: white;
                    }
                }
            }
        }
        &_item {
            padding: 17px 16px;
            color: #FFFFFF;
            letter-spacing: 1px;
            font-size: 22px;
            cursor: pointer;

            @media screen and (max-width: $x-large){
                font-size: 18px;
            }
            @media screen and (max-width: $medium){
                font-size: 15px;
                padding: 13px;
            }
            @media screen and (max-width: $small){
                padding: 15px 13px;
                font-size: 18px;
            }
            &.active {
                background-color: #C5122E;
            }
            &.blocked {
                cursor: not-allowed;
            }
            &.noVisible {
                display: none;
            }
        }
    }
    &__tab {
        max-width: 1280px;
        padding: 60px 80px 80px 80px;
        margin: 0 auto;
        &_main {
            display: flex;
            flex-direction: column;
            gap: 100px;
        }
        &_container {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
    &__my-project {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        &__create {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        &__team {
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-left: 120px;
            &_svg {
                padding: 8px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &__project {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        &__item {
            display: grid;
            grid-template-columns: 1fr;
            border-radius: 10px;
            box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
            &_header {
                width: 100%;
                position: relative;
                height: 217px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }
                button {
                    position: absolute;
                    top: 12px;
                    right: 12px;
                }
                .hackathon__gallery_place {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
            }
            &_content {
                padding: 20px 12px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 30px;
            }
            &_title {
                font-size: 16px;
                text-transform: uppercase;
                color: #121212;
                font-family: "Cera";
                font-weight: 600;
            }
            &_text {
                color: #999;
                font-size: 16px;
                margin-top: 8px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &_avatar {
                display:flex;
                flex-wrap:wrap;
                padding:0; list-style:none;
                margin: 0 8px 0 8px;
                img {
                    width: 44px;
                    height: 44px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                li {
                    margin-left: -8px;
                }
            }
        }
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__title {
            color: #121212;
            font-size: 34px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: 'Cera Black';
            font-weight: 700;
        }
        &__list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            &_item {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &_container {
                display: flex;
                gap: 10px;
                align-items: center;
                img {
                    width: 44px;
                    height: 44px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            &_text {
                font-size: 22px;
                font-family: "Cera";
            }
        }
    }
    &__article {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
            font-size: 22px;
        }
        h3 {
            font-size: 20px;
        }
        h4 {
            font-size: 18px;
        }
        h5, h6 {
            font-size: 18px;
        }
        p {
            font-size: 16px;
        }
        ol, ul {
            margin-left: 18px;
        }
    }
    &__prizes {
        display: flex;
        flex-direction: column;
        gap: 20px;
        &_title {
            color: #E80024;
            font-size: 22px;
            letter-spacing: 1px;
            font-weight: 600;
        }
        &_container {
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        &_item {
            display: flex;
            gap: 8px;
        }
        &_content {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        &_name {
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 1px;
        }
        &_prize {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        &_count {
            color: #999;
            font-size: 13px;
            margin-bottom: 4px;
        }
    }
    &__partners {
        display: flex;
        gap: 128px;
        align-items: center;
        flex-wrap: wrap;
        &_item {
            max-width: 200px;
            max-height: 100px;
            img {
                width: 100%;
                height: 100%;
                max-width: 200px;
                max-height: 100px;
                object-fit: contain;
            }
        }
    }
    &__gallery {
        display: flex;
        flex-direction: column;
        gap: 30px;
        &_filter {
            display: flex;
            justify-content: space-between;
            gap: 60px;
        }
        &_sort {
            flex-wrap: nowrap;
        }
        &_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 60px 20px;
        }
        &_place {
            &-circle {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: #FFCD4A;
            }
            &-text {
                position: absolute;
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
                left: 50%;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
    &__oneProject {
        &_image {
            width: 100%;
            max-width: 740px;
            img {
                height: 100%;
                width: 100%;
                max-height: 470px;
                max-width: 740px;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        &_gallery {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
            img {
                width: 100%;
                max-height: 275px;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        &_media {
            display: flex;
            flex-direction: column;
            gap: 16px;
            &-title {
                font-size: 30px;
                font-weight: 600;
            }
            &-item {
                display: flex;
                gap: 6px;
                align-items: center;
                a {
                    font-size: 16px;
                    color: #E80024;
                    text-decoration: none;
                }
            }
        }
    }
    &__files {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: -20px;
        &_item {
            padding: 10px 25px;
            display: flex;
            gap: 8px;
            align-items: center;
            border-radius: 100px;
            background-color: #E80024;
            text-decoration: none;
            p {
                color: #fff;
                text-transform: uppercase;
                font-family: "Cera Bold";
                font-size: 16px;
            }
        }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &_title {
            font-size: 22px;
            font-weight: bold;
        }
        &_links {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
            &-item {
                padding: 10px 12px;
                border-radius: 100px;
                border: 2px solid #E80024;
                text-decoration: none;
                color: #E80024;
                font-size: 14px;
            }
        }
    }
    &__support {
        &_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 30px;
            border-bottom: 1px solid #999;
        }
        &_title {
            font-size: 22px;
            font-weight: bold;
        }
        &_org {
            display: flex;
            &-btn {
                border: 2px solid #E80024;
                padding: 10px 24px;
                text-transform: uppercase;
                font-family: "Cera Bold";
                font-size: 16px;
                color: #E80024;
                letter-spacing: 1px;
                cursor: pointer;
                &.active {
                    background-color: #E80024;
                    color: #fff;
                }
                &.first {
                    border-top-left-radius: 100px;
                    border-bottom-left-radius: 100px;
                }
                &.end {
                    border-top-right-radius: 100px;
                    border-bottom-right-radius: 100px;
                }
            }
        }
    }
    &__participants {
        &_text {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: -20px;
        }
        &_container {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        &_item {
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        &_title {
            font-size: 22px;
            text-transform: uppercase;
            font-family: "Cera Bold";
        }
        &_team {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    &__managers {
        display: flex;
        gap: 30px;
        align-items: center;
    }
}
.hackathon__arrow {
    transition: transform .3s ease;
    &._rotated { transform: rotate(180deg); }
}
.accordion-enter-from,
.accordion-leave-to   {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.accordion-enter-active,
.accordion-leave-active {
    transition: max-height .35s ease, opacity .35s ease;
}

.accordion-enter-to,
.accordion-leave-from {
    max-height: 1000px;
    opacity: 1;
}
