$x-small: 575.98px;
$small: 767.98px;
$medium: 991.98px;
$large: 1199.98px;
$x-large: 1399.98px;
$big: 1592.98px;
$x-big: 1829.98px;

.hackathon {
    &__header {
        max-width: 1280px;
        padding: 60px 80px 76px 80px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        &_btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            cursor: pointer;
        }
        &_content {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        &_img {
            padding-right: 100px;
            img {
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
    &__title {
        color: #121212;
        font-size: 34px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Cera Bold';
    }
    &__btn {
        width: fit-content;
        margin-top: 10px;
    }
    &__menu {
        background-color: #E80024;
        &_container {
            max-width: 1280px;
            padding: 0 80px;
            margin: 0 auto;
            display: flex;
        }
        &_item {
            padding: 17px 16px;
            color: #FFFFFF;
            letter-spacing: 1px;
            font-size: 22px;
            cursor: pointer;
            &.active {
                background-color: #C5122E;
            }
            &.blocked {
                cursor: not-allowed;
            }
        }
    }
    &__tab {
        max-width: 1280px;
        padding: 60px 80px 80px 80px;
        margin: 0 auto;
    }
    &__my-project {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        &__create {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        &__team {
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-left: 120px;
            &_svg {
                padding: 8px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__title {
            color: #121212;
            font-size: 34px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: 'Cera Bold';
            font-weight: 700;
        }
        &__list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            &_item {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &_container {
                display: flex;
                gap: 10px;
                align-items: center;
                img {
                    width: 44px;
                    height: 44px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            &_text {
                font-size: 22px;
                font-family: "Cera";
            }
        }
    }
}
.hackathon__arrow {
    transition: transform .3s ease;
    &._rotated { transform: rotate(180deg); }
}
.accordion-enter-from,
.accordion-leave-to   {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.accordion-enter-active,
.accordion-leave-active {
    transition: max-height .35s ease, opacity .35s ease;
}

.accordion-enter-to,
.accordion-leave-from {
    max-height: 1000px;
    opacity: 1;
}
