$x-small: 575.98px;
$small: 767.98px;
$medium: 991.98px;
$large: 1199.98px;
$x-large: 1399.98px;
$big: 1592.98px;
$x-big: 1829.98px;

.header {
    width: 100%;
    background-color: #101011;
    &__container {
        max-width: 1280px;
        padding: 32px 80px;
        margin: 0 auto;
        position: relative;
        @media screen and (max-width: $large){
            padding: 32px 80px;
        }
        @media screen and (max-width: $medium){
            padding: 20px 50px;
        }
        @media screen and (max-width: $x-small){
            padding: 10px 30px;
        }
    }
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    &__main {
        display: flex;
        align-items: center;
        gap: 40px;
        @media screen and (max-width: $small){
            gap: 20px;
        }
    }
    &__lang {
        position: relative;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        gap: 4px;
        border-radius: 100px;
        border: 1px solid #E80024;
        width: 73px;
        @media screen and (max-width: $small){
            padding: 5px 10px;
            width: 50px;
            justify-content: space-between;
            svg {
                width: 12px;
                height: 12px;
            }
        }
        @media screen and (max-width: $x-small){
            display: none;
        }
        &.phone {
            display: none;
            @media screen and (max-width: $x-small){
                display: flex;
            }
        }
        &_flag {
            width: 23px;
            height: 23px;
            margin-right: 2px;
            @media screen and (max-width: $small){
                width: 15px;
                height: 15px;
                margin-right: unset;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        &_text {
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            @media screen and (max-width: $small){
                font-size: 10px;
            }
        }
        &_menu {
            position: absolute;
            padding: 2px;
            display: flex;
            flex-direction: column;
            gap: 2px;
            border-radius: 20px;
            border: 1px solid #E80024;
            background-color: #101011;
            z-index: 10;
            top: calc(100% + 5px);
            left: calc(100% - 105px);
            width: 101px;
            @media screen and (max-width: $small){
                width: 66px;
                left: calc(100% - 71px);
                border-radius: 15px;
            }
        }
        &_item {
            display: flex;
            gap: 6px;
            align-items: center;
            padding: 6px 14px;
            @media screen and (max-width: $small){
                padding: 3px 8px;
            }
            &:hover {
                background-color: #FFFFFF1A;
                cursor: pointer;
                border-radius: 20px;
            }
        }
    }
    &__logo {
        width: 236px;
        @media screen and (max-width: $medium){
            width: 200px;
        }
        @media screen and (max-width: $small){
            width: 160px;
        }
        @media screen and (max-width: $x-small){
            width: 120px;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        gap: 100px;
        @media screen and (max-width: $medium){
            gap: 40px;
        }
        @media screen and (max-width: $x-small){
            gap: 20px;
        }
    }
    &__btns {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        @media screen and (max-width: $small){
            gap: 10px;
        }
        @media screen and (max-width: $x-small){
            flex-direction: column;
        }
    }
    &__btns_phone {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        @media screen and (max-width: $small){
            gap: 10px;
        }

    }
    &__link {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        transition: 0.3s;
        @media screen and (max-width: $medium){
            font-size: 12px;
        }
        @media screen and (max-width: $x-small){
            font-size: 10px;
        }
        &:hover {
            color: #cfcfcf;
            transition: 0.3s;
        }
        &.active {
            color: #E80024;
        }
    }
    &__profile {
        cursor: pointer;
        &_img {
            width: 58px;
            height: 58px;
            border-radius: 50%;
            object-fit: cover;
            @media screen and (max-width: $x-small){
                width: 45px;
                height: 45px;
            }
        }
        &_menu {
            position: absolute;
            top: 100%;
            right: 225px;
            //min-width: 140px;
            z-index: 10;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: $large){
                right: 225px;
            }
            @media screen and (max-width: $medium){
                right: 50px;
            }
            @media screen and (max-width: $x-small){
                right: 30px;
            }
            &_item {
                padding: 17px 16px;
                font-size: 22px;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                background: #101011;
                transition: 0.2s;
                @media screen and (max-width: $medium){
                    font-size: 14px;
                    padding: 10px 12px;
                }
                @media screen and (max-width: $x-small){
                    font-size: 12px;
                }
                &:hover {
                    transition: 0.2s;
                    background-color: #202022;
                }
            }
        }
        //&:hover &_menu,
        //&:focus-within &_menu { display: flex; }
    }
    &__notification {
        display: flex;
        justify-content: center;
        position: relative;
        svg {
            path {
                transition: 0.3s;
            }
        }
        &:hover {
            cursor: pointer;
            svg {
                path {
                    transition: 0.3s;
                    fill: #cfcfcf;
                }
            }
        }
        &_active {
            width: 10px;
            height: 10px;
            background-color: #E80024;
            border-radius: 50%;
            position: absolute;
            top: 1px;
            right: 1px;
        }
    }
}
.main {
    &__btn {
        color: #fff;
        background-color: #E80024;
        border: 2px solid #E80024;
        outline: none;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        padding: 8px 24px;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        border-radius: 100px;
        transition: 0.3s;
        @media screen and (max-width: $small){
            padding: 6px 16px;
            font-size: 12px;
        }
        @media screen and (max-width: $x-small){
            max-width: 90px;
            width: 100%;
            text-align: center;
            font-size: 10px;
        }
        &:hover {
            background-color: #C5122E;
            border: 2px solid #C5122E;
            transition: 0.3s;
        }
        &_white {
            background-color: unset !important;
            color: #E80024 !important;
            &:hover {
                background-color: unset;
                border: 2px solid #C5122E;
                transition: 0.3s;
            }
        }
        &.blocked {
            background-color: #F699A7;
            border-color: #F699A7;
            cursor: not-allowed;
        }
    }
}
