$x-small: 575.98px;
$small: 767.98px;
$medium: 991.98px;
$large: 1199.98px;
$x-large: 1399.98px;
$big: 1592.98px;
$x-big: 1829.98px;

.project {
    &__title {
        font-size: 34px;
        font-family: "Cera Black";
        text-transform: uppercase;
        @media screen and (max-width: $medium){
            font-size: 25px;
        }
        @media screen and (max-width: $x-small){
            font-size: 20px;
        }
    }
    &__container {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 157px 1fr;
        gap: 60px;
        @media screen and (max-width: $small){
            grid-template-columns: 1fr;
            gap: 40px;
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        gap: 4px;
        @media screen and (max-width: $small){
            display: none;
        }
        &_phone {
            display: none;
            align-items: center;
            justify-content: space-between;
            gap: 4px;
            @media screen and (max-width: $small){
                display: flex;
            }
        }
        &_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &_text {
            font-size: 16px;
        }
        &_btn {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #999;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: not-allowed;
            &.active {
                background-color: #E80024;
                cursor: pointer;
            }
            &.completed {
                cursor: pointer;
            }
        }
        &_line {
            width: 4px;
            height: 92px;
            margin-right: 18px;
            background-color: #999;
            &-phone {
                height: 4px;
                width: 100%;
                margin-right: unset;
            }
            &.active {
                background-color: #E80024;
            }
            &_container {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        &_btns {
            display: flex;
            gap: 20px;
        }
        &_preview {
            margin-top: 10px;
            max-width: 305px;
        }
    }
}
